@font-face {
    font-family: "Poppins";
    src: url(Font/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    background-color: #1a1a1a;
    position: fixed;
}

header img {
    height: 100%;
}

.slide {
    min-height: 100vh;
    width: 100%;
}

.MenuNav {
    height: 100%;
}

.MenuNav ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.MenuNav ul li:hover {
    animation-name: scale;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.MenuNav ul li a:hover {
    color: rgb(199, 199, 199);
}

@keyframes scale {
    from {
        
    }

    to {
        scale: 1.1;
    }
}

.MenuNav ul li {
    font-size: 20px;
    list-style: none;
    text-align: center;
    margin: 0px 50px;
}

.MenuNav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}

#Home {
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Home .GridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

#Home .GridContainer .CTA {
    color: white;
    font-size: 30px;
    position: absolute;
    transform: translate(25%,150%);
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}

#Home .GridContainer .CTA2 {
    grid-column-start: 3;
    color: white;
    font-size: 25px;
    position: absolute;
    transform: translate(13%,80%);
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}

#Home .BackgroundImg {
    grid-column-start: 2;
    height: 600px;
    width: 600px;
    background-color: rgba(20, 20, 20, 0.25);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

#Home .BackgroundImg .ProfilPicture {
    position: absolute;
    transform: translate(0% ,-17%);
}

#Home .BackgroundImg .ProfilPicture img {
    width: 100%;
}

#Projects {
    background-color: rgb(26, 26, 26);
}

#About {
    background-color: rgb(26, 26, 26);
}