@font-face {
    font-family: "Poppins";
    src: url(Font/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    background-color: #333;
    position: fixed;
}

header img {
    height: 100%;
}

.slide {
    min-height: 100vh;
}

.MenuNav {
    height: 100%;
}

.MenuNav ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.MenuNav ul li:hover {
    animation-name: scale;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.MenuNav ul li a:hover {
    color: rgb(199, 199, 199);
}

@keyframes scale {
    from {

    }

    to {
        scale: 1.1;
    }
}

.MenuNav ul li {
    font-size: 20px;
    list-style: none;
    text-align: center;
    margin: 0px 50px;
}

.MenuNav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}

#Home {
    background-color: rgb(34, 34, 34);
}

#Projects {
    background-color: rgb(34, 34, 34);
}

#About {
    background-color: rgb(34, 34, 34);
}