@font-face {
    font-family: "Poppins",;
    src: url(Font/Poppins-Regular.ttf);
    font-family: "Bodoni italic";
    src: url(Font/libre-bodoni.italic.ttf);
    font-family: "bodoni regular";
    src: url(Font/bodonio.regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    background-color: #1a1a1a;
    position: fixed;
}

header img {
    height: 100%;
}

.slide {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.MenuNav {
    height: 100%;
}

.MenuNav ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.MenuNav ul li:hover {
    animation-name: scale;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.MenuNav ul li a:hover {
    color: rgb(199, 199, 199);
}

@keyframes scale {
    from {
        scale: 1;
    }

    to {
        scale: 1.1;
    }
}

.MenuNav ul li {
    font-size: 20px;
    list-style: none;
    text-align: center;
    margin: 0px 50px;
}

.MenuNav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}

#Home {
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Home .GridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    width: 100%;
    height: 100%;
}

#Home .GridContainer .NomPrenom {
    grid-column-start: 1;
    font-size: 30px;
    color: white;
    font-family: "Bodoni italic",Arial, Helvetica, sans-serif;
    display: flex;
    margin-top: 100px;
    margin-left: 60px;
}

#Home .GridContainer .CTA {
    margin-left: 200px;
    color: white;
    grid-column-start: 1;
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;    
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}

#Home .GridContainer .CTA2 {
    width: 80%;
    grid-column-start: 3;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: start;
    text-align: center;
    margin-top: 100px;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}

#Home .BackgroundImg {
    grid-column-start: 2;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

#Home .BackgroundImg .ProfilPicture {
    position: absolute;
    transform: translate(0% ,-17%);
}

#Home .BackgroundImg .ProfilPicture img {
    width: 100%;
}

#Projects {
    background-color: rgb(26, 26, 26);
}

#About {
    background-color: rgb(26, 26, 26);
}